
.ipynb_checkpoints/Camera-checkpoint.ipynb
.ipynb_checkpoints/Detection of red-checkpoint.ipynb
.ipynb_checkpoints/study of color-checkpoint.ipynb
.ipynb_checkpoints/Smart_systems_Lab_2-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_1-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_3-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_1_zulkad-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_1_answers-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_1_answers-checkpoint.ipynb
.ipynb_checkpoints/Smart_Systems_Lab_1_answers-checkpoint.ipynb
